<!doctype html>
<html>
<body>
<table border="2" style="width:500px">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>City</th>
	</tr>
    

		 <tr>
		<td>   {{  value.val }} </td>
		<td>   {{  row.name }} </td>
		<td>   </td>
		<td>    </td>
		</tr> 

		

	
	
  	 
       
</table>
</body>
</html>