<!doctype html>
<html>
<body>



{% block head %}
<title>Profile1</title>
{% endblock %}

{% block body %}

{% for Person in data %}
    <h1> {{ Person.name }}</h1>
     <h1> {{ Person.city }}</h1>
    {% endfor %}

{% endblock %}


</body>
</html>
