<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Forms</title>
</head>
<body>
<h2>Django Forms</h2>
<form method="post" action="/myprojectapp/showdata/">
    {% csrf_token %}
    <table>
        <tr>
            <td>Your Name:</td>
            <td><strong>{{ name }}</strong></td>
        </tr>
        <tr>
            <td>Your City:</td>
            <td><strong>{{ city }}</strong></td>
        </tr>
        
    </table>
</form>
</body>
</html>