<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Forms</title>
</head>
<body>
<h2>Django Forms</h2>
<form method="POST" action="/myprojectapp/doUpdate/19">
    {% csrf_token %}
    <table>
        <tr>
            <td>Enter your name:</td>
            <td><input type="text" name="name" value="{{ name }}"/></td>
        </tr>
        <tr>
            <td>Enter your City:</td>
            <td><input type="text" name="city" value="{{ city }}"/></td>
        </tr>
        
        <tr>
            <td>
 
            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
